*.pyc
*.xml
*.iml
*.zip
*.7z
*.xmind
CREDITS-*.md

.env
.vscode
.idea

__pycache__
dol
degrees-of-lewdity-master
degrees-of-lewdity-world-expansion-master
dolandriod
dol-chinese
setto

paratranz
temp
raw_dicts

commits.json
i18n.json
0.4.3.0.json
.env
src/tools/changelog_process/0.4.4.0.json
src/tools/changelog_process/0.4.4.0.txt
src/tools/variables_process/vars/_all_variables.json
src/tools/variables_process/vars/_variables.json
